@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";
/*  */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Comic: "Comic Relief", "sans-serif"; 
  --font-Roboto: "Roboto", "sans-serif"; 
  --font-Helvetica: "HelveticaNeue", "sans-serif"; 
   --font-syne: "Syne", "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, syne, sans-serif;
}

/*  */

/* downloaded fonts */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/public/fonts/HelveticaNeueBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



.content-p:before {
    content: "";
    background-color: #ffb646;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    display: block;
}
